@rendermode InteractiveServer

<header class="bg-neutral-800 px-10 py-4 flex gap-10 items-center">

  <h2 class="uppercase text-3xl font-bold">@actText</h2>

  <SearchBar />

  <ul class="flex gap-5">
    <li>
      <NavLink class="p-1 px-5 bg-secondary-teal hover:bg-sky-800 duration-300" href="/"
        @onclick='() => changeActiveItem("Home")'>
        Home
      </NavLink>
    </li>

    <li>
      <NavLink class="p-1 px-5 bg-secondary-teal hover:bg-sky-800 duration-300" href="/courses"
        @onclick='() => changeActiveItem("Courses")'>
        Courses
      </NavLink>
    </li>
  </ul>
</header>

@code {
  public string actText = "Home";

  private void changeActiveItem(string newText)
  {
    actText = newText;
  }

}
