@inject PseudoAuth PseudoAuth
@rendermode InteractiveServer

<header class="bg-neutral-800 px-10 py-4 flex gap-10 items-center">

  <h2 class="uppercase text-3xl font-bold text-primary-purple">Germ-Ukrainian</h2>

  <SearchBar />

  <ul class="flex gap-5 items-center">
    <li>
      <NavLink class="p-1 px-5 bg-secondary-teal hover:bg-sky-800 duration-300" href="/home">
        Home
      </NavLink>
    </li>

    <li>
      <NavLink class="p-1 px-5 bg-secondary-teal hover:bg-sky-800 duration-300" href="/courses">
        Courses
      </NavLink>
    </li>

    @if (Login())
    {
      <li>
        <NavLink href="/account">
          <div class="h-10 w-10 rounded-full bg-secondary-teal  hover:bg-sky-800 duration-300">
          </div>
        </NavLink>
      </li>
    }
    else
    {
      <li>
        <NavLink class="p-1 px-5 bg-primary-pink hover:bg-[#ff0266] duration-300" href="/auth">
          Log in
        </NavLink>
      </li>
    }

  </ul>
</header>

@code {
  private bool Login()
  {
    return PseudoAuth.IsLoggedIn;
  }
}
