@inject PseudoAuth PseudoAuth
@rendermode InteractiveServer

<header class="bg-neutral-800 px-10 py-4 flex justify-between items-center xl:gap-10">

  <h2 class="uppercase text-xl font-bold text-primary-purple sm:text-3xl">Germ-Ukrainian</h2>

  <SearchBar />

  <ul class="hidden xl:flex gap-5 items-center">
    <li>
      <NavLink class="p-1 px-5 bg-secondary-teal hover:bg-sky-800 duration-300" href="/home">
        Головна
      </NavLink>
    </li>

    <li>
      <NavLink class="p-1 px-5 bg-secondary-teal hover:bg-sky-800 duration-300" href="/courses">
        Курси
      </NavLink>
    </li>

    @if (Login())
    {
      <li>
        <NavLink class="p-1 px-5 bg-secondary-teal hover:bg-sky-800 duration-300" href="/my-words">
          Мої слова
        </NavLink>
      </li>
      <li>
        <NavLink class="p-1 px-5 bg-secondary-teal hover:bg-sky-800 duration-300" href="/my-tasks">
          Мої завдання
        </NavLink>
      </li>
      <li>
        <NavLink href="/account">
          <div class="h-10 w-10 rounded-full bg-secondary-teal  hover:bg-sky-800 duration-300">
          </div>
        </NavLink>
      </li>
    }
    else
    {
      <li>
        <NavLink class="p-1 px-5 bg-primary-pink hover:bg-[#ff0266] duration-300" href="/auth">
          Вхід
        </NavLink>
      </li>
    }

  </ul>

  <div class="block relative xl:hidden h-8 w-8">
    <span class="absolute w-full h-1 bg-white"></span>
    <span class="absolute w-full h-1 bg-white top-1/2 -translate-y-1/2"></span>
    <span class="absolute w-full h-1 bg-white bottom-0"></span>
  </div>
</header>

@code {
  private bool Login()
  {
    return PseudoAuth.IsLoggedIn;
  }
}
