@inherits LayoutComponentBase

<div class="flex flex-col min-h-screen bg-dark-grey text-white">
    <Header />
    <main class="flex flex-1 px-10 py-10">
        @Body
    </main>

    <footer class="mt-auto px-10 py-2 bg-zinc-900 text-center text-sm ">
        <NavLink class="text-gray-400 hover:text-gray-200 duration-200" href='https://www.instagram.com/_roma.shka.__/'
            target='_blanck'>
            Created by Roman Kovinia
        </NavLink>
    </footer>
</div>
