@page "/courses/{level}"
@layout MainLayout

<PageTitle>Learning app - Course @level</PageTitle>

<div class="h-full flex flex-col gap-10">
  <div class="text-center">
    <h1 class="text-3xl font-semibold text-zinc-300">Welcome to page with words <span
        class="uppercase text-secondary-pink font-bold">@level</span>
      level</h1>
    <p class="text-xl text-zinc-500 mt-3">Сhoose a topic where you want to learn words</p>
  </div>

  <div class="flex flex-1 gap-10 items-center justify-center flex-wrap">
    @foreach (var wt in WordsThemes)
    {
      var link = $"/courses/{level}/{wt.id}";
      <CourseThemeCard title="@wt.theme" link="@link" />
    }
  </div>
</div>



@code {
  [Parameter]
  public string level { get; set; }

  private List<WordsTheme> WordsThemes = new List<WordsTheme>();

  public HttpClient httpClient = new HttpClient();

  protected override async Task OnInitializedAsync()
  {
    WordsThemes = await httpClient.GetFromJsonAsync<List<WordsTheme>>("http://localhost:5210/api/WordsTheme/" + level);
  }
}