@page "/"
@layout AuthLayout
@inject PseudoAuth PseudoAuth
@rendermode InteractiveServer

<PageTitle>Learning app - Start</PageTitle>

<div class="flex flex-col h-screen items-center justify-center gap-20">

  <h1 class="text-3xl">
    <span class="text-secondary-pink"> Ukrainian to Deutsch</span>: Your Gateway to German Words
  </h1>


  <div class="flex gap-10 items-center">
    <NavLink href="auth" class="bg-secondary-teal px-10 py-2 text-xl font-bold hover:scale-105 duration-300">
      Log in
    </NavLink>
    <span class="font-light text-xl">
      or
    </span>
    <NavLink href="home"
      class="border-b-2 p-1 text-xl font-bold hover:border-[#03dac5] hover:text-[#03dac5] duration-300"
      @onclick="(() => Login(false))">
      Try it for free ->
    </NavLink>
  </div>
</div>


@code {
  private void Login(bool success)
  {
    PseudoAuth.IsLoggedIn = success;
  }
}
